.terraform-overview {
  ul,
  p {
    margin: 1rem 0;
  }

  p.disclaimer {
    font-size: 1.2rem;
    margin-top: 2rem;

    @media (min-width: 992px) {
      font-size: 1.4rem;
    }
  }

  a:hover {
    text-decoration: none;
  }

  h2,
  .h2 {
    margin: 0 0 1em;
  }

  h3,
  .h3 {
    margin: 0 0 0.2em;
  }

  h5,
  .h5 {
    margin-top: 2.6rem;
    margin-bottom: 0;
  }

  h6,
  .h6 {
    margin: 1em 0;
  }
}
