---
layout: "inner"
page_title: "Community"
description: |-
  Terraform is a mature project with a growing community. There are
  active, dedicated people willing to help you through various mediums.
---

<h1>Community</h1>

<p>
  Terraform is a mature project with a growing community. There are
  active, dedicated people willing to help you through various mediums.
</p>

<p><strong>Community forum:</strong></p>
<ul>
  <li>The <a href="https://discuss.hashicorp.com/c/terraform-core">Terraform section</a>
of the community portal contains questions, use cases, and useful patterns.</li>
  <li>For provider-related questions please visit the <a href="https://discuss.hashicorp.com/c/terraform-providers">Terraform Providers section</a>
of the community portal.</li>
</ul>

<p><strong>Bug Trackers:</strong></p>
<ul>
  <li><a href="https://github.com/hashicorp/terraform/issues">Terraform Core Issue tracker on
GitHub</a>. Please only use this for
reporting bugs. Do not ask for general help here; use the HashiCorp forum for that.</li>
  <li>Terraform Providers distributed by HashiCorp are part of the
<a href="https://github.com/terraform-providers"><code>terraform-providers</code></a> GitHub
Organization. Each Provider is a separate GitHub project with their own issue
trackers.</li>
</ul>

<p><strong>Training:</strong> <a href="https://www.hashicorp.com/training.html">Paid HashiCorp training
courses</a> are also available in a city
near you. Private training courses are also available.</p>

<hr>

Mediums for <em>developers</em> of Terraform providers are listed under <a href="/docs/extend/community/index.html">Terraform SDK Community</a>.
