---
layout: "inner"
page_title: "Community"
description: |-
  Terraform is a mature project with a growing community. There are
  active, dedicated people willing to help you through various mediums.
---

<h1>Community</h1>

<p>
  Terraform is a mature project with a growing community. There are
  active, dedicated people willing to help you through various mediums.
</p>

<p><strong>Events:</strong> HashiCorp sponsors various community events to bring together
Terraform ecosystem developers. See the <a href="/docs/extend/community/events/index.html">events</a> page for more information.</p>

<p><strong>Stack Exchange:</strong> Terraform questions often get asked and answered on <a href="https://serverfault.com/">Server
Fault</a> and <a href="https://stackoverflow.com/">Stack
Overflow</a>. Use the tag "terraform" to help your
question be found by Terraform experts, and please be respectful of the "How to
Ask" guidelines in each community.</p>

<p><strong>HashiCorp forum:</strong></p>
<ul>
  <li>The <a href="https://discuss.hashicorp.com/c/terraform-core">Terraform section</a>
of the community portal contains questions, use cases, and useful patterns.</li>
  <li>For provider related questions please visit the <a href="https://discuss.hashicorp.com/c/terraform-providers">Terraform Providers section</a>
of the community portal.</li>
</ul>

<p><strong>Bug Trackers:</strong></p>
<ul>
  <li><a href="https://github.com/hashicorp/terraform/issues">Terraform Core Issue tracker on
GitHub</a>. Please only use this for
reporting bugs. Do not ask for general help here; use a Stack Exchange
community or the HashiCorp forum for that.</li>
  <li>Terraform Providers distributed by HashiCorp are part of the
<a href="https://github.com/terraform-providers"><code>terraform-providers</code></a> GitHub
Organization. Each Provider is a separate GitHub project with their own issue
trackers.</li>
</ul>

<p><strong>Training:</strong> <a href="https://www.hashicorp.com/training.html">Paid HashiCorp training
courses</a> are also available in a city
near you. Private training courses are also available.</p>

<hr>

Mediums for <em>developers</em> of Terraform providers are listed under <a href="/docs/extend/community/index.html">Terraform SDK Community</a>.
