---
layout: "inner"
page_title: "Community"
description: |-
  Terraform is a mature project with a growing community. There are
  active, dedicated people willing to help you through various mediums.
---

<h1>Community</h1>

<p>
  Terraform is a mature project with a growing community. There are
  active, dedicated people willing to help you through various mediums.
</p>
<p>
  <strong>Stack Exchange:</strong> Terraform questions often get asked and
  answered on
  <a href="https://serverfault.com/">Server Fault</a> and
  <a href="https://stackoverflow.com/">Stack Overflow</a>. Use the tag
  "terraform" to help your question be found by Terraform experts, and please
  be respectful of the "How to Ask" guidelines in each community.
</p>
<p>
  <strong>Gitter:</strong> <a href="https://gitter.im/hashicorp-terraform/Lobby">Terraform Gitter Room</a>
</p>
<p>
  <strong>IRC:</strong> Use the <a href="https://irc.gitter.im">Gitter IRC bridge</a>
</p>
<p>
  <strong>Mailing list:</strong> <a href="https://groups.google.com/group/terraform-tool">Terraform Google Group</a>
</p>
<p>
  <strong>Bug Tracker:</strong> <a href="https://github.com/hashicorp/terraform/issues">Issue tracker on GitHub</a>. Please only use this for reporting bugs. Do not ask for general help here; use a Stack Exchange community, Gitter chat, or the mailing list for that.
</p>
<p>
  <strong>Training:</strong> Paid <a href="https://www.hashicorp.com/training.html">HashiCorp training courses</a> are also available in a city near you. Private training courses are also available.
</p>
