---
description: |-
  Terraform enables you to safely and predictably create, change, and improve
  infrastructure. It is an open source tool that codifies APIs into
  declarative configuration files that can be shared amongst team members,
  treated as code, edited, reviewed, and versioned.
---

<% content_for(:custom_share) do %>
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="<%= image_url("og-image-large.png") %>"/>
<% end %>

<div class="terraform-overview">
    <section id="home-hero">
        <div class="g-container">
            <div>
                <div>
                    <div>
                        <a class="notification no-bg" href="https://app.terraform.io/signup/account">
                            <span>New</span> Introducing Terraform Cloud <span><svg width="14" height="8"
                                    viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM13.3536 4.35355C13.5488 4.15829 13.5488 3.84171 13.3536 3.64645L10.1716 0.464466C9.97631 0.269204 9.65973 0.269204 9.46447 0.464466C9.2692 0.659728 9.2692 0.976311 9.46447 1.17157L12.2929 4L9.46447 6.82843C9.2692 7.02369 9.2692 7.34027 9.46447 7.53553C9.65973 7.7308 9.97631 7.7308 10.1716 7.53553L13.3536 4.35355ZM1 4.5H13V3.5H1V4.5Z"
                                        fill="#5F43E9" />
                                </svg>
                                <span>
                        </a>
                        <h1>Terraform</h1>
                        <p>Use Infrastructure as Code to provision and manage any cloud, infrastructure, and service</p>
                        <a href="https://app.terraform.io/signup/account" class="g-btn download">
                            Sign up for Cloud
                        </a>
                        <a href="/downloads.html" class="g-btn dark-outline">
                            Download CLI</a>
                    </div>
                </div>
                <div>
                    <div class="controls">
                        <div data-index="0">
                            <span>Cloud</span>
                            <div class="progress-bar"><span></span></div>
                        </div>
                        <div data-index="1">
                            <span>CLI</span>
                            <div class="progress-bar"><span></span></div>
                        </div>
                    </div>
                    <div class="videos">
                        <div>
                            <div class="bar-buttons">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div>
                                <video muted="muted">
                                    <source
                                        src="https://www.datocms-assets.com/2885/1568036870-1567204661-terraform-overview-hero-cloud.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div>
                            <div class="bar-buttons">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <video muted="muted">
                                <source
                                    src="https://www.datocms-assets.com/2885/1568037655-1567721088-terraform-overview-hero-cli.mp4"
                                    type="video/mp4">
                            </video>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="infrastructure-as-code" class="g-section bg-light">
        <div class="g-container">
            <div class="intro">
                <h2>Deliver infrastructure as code with Terraform</h2>
            </div>
            <div class="g-text-asset">
                <div>
                    <div>
                        <h3>Write declarative configuration files</h3>

                        <div class="check">
                            <ul>
                                <li>Collaborate and share configurations</li>
                                <li>Evolve and version your infrastructure</li>
                                <li>Automate provisioning</li>
                            </ul>
                        </div>
                        <p>Define infrastructure as code to manage the full lifecycle - create new resources, manage existing ones, and destroy ones no longer needed.</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <div>
                                <picture>
                                    <source type="image/png" srcset="
                                        /assets/images/terraform-overview/declarative-config-files.png 300w,
                                        /assets/images/terraform-overview/declarative-config-files@2x.png 704w,
                                        /assets/images/terraform-overview/declarative-config-files@4x.png 1256w">
                                    <img src="/assets/images/terraform-overview/declarative-config-files@4x.png"
                                        alt="Write Declarative Configuration Files">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g-text-asset reverse">
                <div>
                    <div>
                        <h3>Plan and predict changes</h3>

                        <div class="check">
                            <ul>
                                <li>Map resource dependencies</li>
                                <li>Separation of plan and apply</li>
                                <li>Consistent, repeatable workflow</li>
                            </ul>
                        </div>
                        <p>Terraform provides an elegant user experience for operators to safely and predictably make
                            changes to
                            infrastructure.</p>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <div>
                                <picture>
                                    <source type="image/png"
                                        srcset="
                                          /assets/images/terraform-overview/plan-changes-to-infrastructure.png 300w,
                                          /assets/images/terraform-overview/plan-changes-to-infrastructure@2x.png 704w,
                                          /assets/images/terraform-overview/plan-changes-to-infrastructure@4x.png 1256w">
                                    <img src="/assets/images/terraform-overview/plan-changes-to-infrastructure@4x.png"
                                        alt="Plan Changes to Cloud Infrastructure">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g-text-asset">
                <div>
                    <div>
                        <h3>Create reproducible infrastructure</h3>
                        <div class="check">
                            <ul>
                                <li>Reproducible production, staging, and development environments</li>
                                <li>Shareable modules</li>
                                <li>Combine multiple providers consistently</li>

                            </ul>
                        </div>
                        <p>Terraform lets operators easily use the same configurations in multiple places to reduce
                            mistakes and
                            save
                            time.</p>
                        <a href="https://www.terraform.io/docs/providers/" class="g-btn purple-outline">View All
                            Providers</a>
                    </div>
                </div>
                <div >
                    <div><div><div>
                        <picture>
                            <source type="image/png" srcset="
                                  /assets/images/terraform-overview/infrastructure-providers.png 300w,
                                  /assets/images/terraform-overview/infrastructure-providers@2x.png 704w,
                                  /assets/images/terraform-overview/infrastructure-providers@4x.png 1256w">
                            <img src="/assets/images/terraform-overview/infrastructure-providers@4x.png"
                                alt="Terraform Overview Infrastucture Providers">
                        </picture>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Terraform Cloud -->
    <section id="terraform-cloud" class="g-section collapse-bottom">
        <div class="g-container">
            <div class="intro">
                <h2>Enhanced Workflow for Teams with Terraform Cloud</h2>
                <p>Terraform Cloud is a free to use SaaS application that provides the best workflow for writing and
                    building
                    infrastructure as code with Terraform. </p>
            </div>
            <div class="g-text-asset reverse">
                <div>
                    <div>
                        <h3>Share infrastructure as code</h3>
                        <p>Empower your team to rapidly review, comment,
                            and iterate on Infrastructure as Code.</p>
                        <div class="check">
                            <ul>
                                <li>State Management <span class="shrink">(storage, viewing, and locking)</span></li>
                                <li>Web Application with Full UI</li>
                                <li>Collaborative Runs</li>
                                <li>Private Module Registry</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <div class="has-borders">
                                <picture>
                                    <source type="image/png" srcset="
                                      /assets/images/terraform-overview/workflow-collaboration.png 300w,
                                      /assets/images/terraform-overview/workflow-collaboration@2x.png 704w,
                                      /assets/images/terraform-overview/workflow-collaboration@4x.png 1256w">
                                    <img src="/assets/images/terraform-overview/workflow-collaboration@4x.png"
                                        alt="Share Infrastructure as Code with Terraform">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="g-text-asset">
                <div>
                    <div>
                        <h3>Automate consistent workflows</h3>
                        <p>Create a pipeline for provisioning Infrastructure as Code</p>
                        <div class="check">
                            <ul>
                                <li>VCS Integration (GitHub, BitBucket, and GitLab)</li>
                                <li>Enable GitOps workflow</li>
                                <li>Remote Operations (Plans and Applies)</li>
                                <li>Notifications / Webhooks</li>
                                <li>Full HTTP API for integrating with other tools and services</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <div class="has-borders">
                                <picture>
                                    <source type="image/png"
                                        srcset="
                                      /assets/images/terraform-overview/automate-the-provisioning-lifecycle.png 300w,
                                      /assets/images/terraform-overview/automate-the-provisioning-lifecycle@2x.png 704w,
                                      /assets/images/terraform-overview/automate-the-provisioning-lifecycle@4x.png 1256w">
                                    <img src="/assets/images/terraform-overview/automate-the-provisioning-lifecycle@4x.png"
                                        alt="Terraform - Automate the Provisioning Lifecycle">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <a href="https://app.terraform.io/signup/account" class="g-btn download">
                    Sign up for Terraform Cloud
                </a>
            </div>
        </div>
    </section>


    <section id="pricing" class="g-section collapse-top">
        <div class="g-container">
            <div class="intro">
                <h2>Terraform for Every Team</h2>
                <p>Organizations looking for enhanced control over their teams or enforceable governance can purchase the
                    Team and Governance upgrades for Terraform Cloud. Start for free and upgrade to suit the needs of
                    your team as you grow.
                </p>
            </div>
            <div class="g-pricing-tile">
                <div>
                    <div>
                        <h3>Free</h3>
                        <p>Automation and collaboration features to empower individuals and small teams including VCS connection,
                            remote operations and state management. Teams on the free plan can have up to 5 users.</p>
                        <p class="price"><span>$0</span>&nbsp; Up to 5 users</p>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Team</h3>
                        <p>This upgrade includes Team Management and Role Based Access Control (RBAC) to create multiple teams and
                            ensure that team members have the right level of access to the appropriate configurations.
                        </p>
                        <p class="price"><span>$20</span> <strong>User / Month</strong></p>
                    </div>
                </div>
                <div>
                    <div>
                        <h3>Governance</h3>
                        <p>This upgrade provides access to the <a href="https://www.hashicorp.com/sentinel" title="HashiCorp - Sentinel Policy as Code">Sentinel Policy as Code</a> framework for enforcing
                            fine-grain policy
                            against everything that Terraform Cloud provisions.
                            It also includes Cost Estimation for organizations looking to understand how much
                            configurations will cost
                            before they are deployed.
                        </p>
                        <p class="price"><span>$70</span> <strong>User / Month</strong></p>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <a href="https://www.hashicorp.com/products/terraform/offerings" class="g-btn download">
                    Compare Terraform Offerings
                </a>
            </div>
        </div>
    </section>
    <section id="how-terraform-works" class="g-section bg-light">
        <div class="g-container">
            <div class="intro">
                <h2>
                    How Terraform Works
                </h2>
            </div>
            <div class="g-tabbed-content g-text-asset" id="how-terraform-works-tabs">
                <ul class="tab-list">
                    <li class="active" id="tab-cloud"><a href="#cloud" aria-selected="true" aria-controls="tab-cloud">Cloud</a></li>
                    <li id="tab-cli"><a href="#cli" aria-selected="false"  aria-controls="tab-cloud">CLI</a></li>
                </ul>
                <div class="tab-panel active" id="tab-panel-cloud" aria-hidden="false"  aria-labelledby="tab-cloud" data-hashi-tab="tab-cloud">
                    <div class="tab-content">
                        <picture>
                            <source type="image/png" srcset="
                                    /assets/images/terraform-overview/cloud-howitworks-1x.png 300w,
                                    /assets/images/terraform-overview/cloud-howitworks-2x.png 704w,
                                    /assets/images/terraform-overview/cloud-howitworks.png 1256w">
                            <img src="/assets/images/terraform-overview/cloud-howitworks-2x.png"
                                alt="Terraform CLI - How It Works Diagram">
                        </picture>
                    </div>
                    <div class="tab-content">
                        <h4>Terraform Cloud</h3>
                            <h5>Write Infrastructure as Code</h5>
                            <p>Terraform users define infrastructure in a simple, human readable configuration language
                                called HCL
                                (HashiCorp
                                Configuration Language). Users can write unique HCL configuration files or borrow
                                existing templates
                                from
                                the public
                                module registry.</p>
                            <h5>Manage Configuration Files in VCS</h5>
                            <p>Most users will store their configuration files in a VCS (Version Control System) and
                                connect that VCS
                                to
                                Terraform
                                Cloud. With that connection in place, users can borrow best practices from software
                                engineering to
                                version
                                and
                                iterate on infrastructure as code, using VCS and Terraform Cloud as a delivery pipeline
                                for
                                infrastructure.
                            </p>
                            <h5>Automate Provisioning</h5>
                            <p>Terraform will automatically trigger a plan based on any changes in the version control system.
                                This plan can be
                                reviewed for
                                safety and accuracy in the Terraform UI, then it can be applied to provision the
                                specified
                                infrastructure.
                            </p>
                    </div>
                </div>
                <div class="tab-panel"  id="tab-panel-cli" aria-hidden="true" aria-labelledby="tab-cli" data-hashi-tab="tab-cli">
                    <div class="tab-content">
                        <picture>
                            <source type="image/png" srcset="
                                      /assets/images/terraform-overview/cli-howitworks-1x.png 300w,
                                      /assets/images/terraform-overview/cli-howitworks-2x.png 704w,
                                      /assets/images/terraform-overview/cli-howitworks.png 1256w">
                            <img src="/assets/images/terraform-overview/cli-howitworks-2x.png"
                                alt="Terraform CLI - How It Works Diagram">
                        </picture>
                    </div>
                    <div class="tab-content">
                        <h4>CLI</h3>
                            <p>Terraform allows infrastructure to be expressed as code in a simple, human readable
                                language called HCL (HashiCorp
                                Configuration Language). Terraform CLI reads configuration files and provides an
                                execution plan of changes, which can
                                be reviewed for safety and then applied and provisioned. Extensible providers allow
                                Terraform to manage a broad range
                                of resources, including hardware, IaaS, PaaS, and SaaS services.</p>
                            <div class="check">
                                <ul>
                                    <li>Infrastructure as Code</li>
                                    <li>200+ available providers</li>
                                    <li>Provision any infrastructure</li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="fostering-community" class="g-section">
        <div class="g-container">
            <div class="g-text-asset reverse">
                <div>
                    <div>
                        <h3>Strong Community</h3>
                        <div class="check">
                            <ul>
                                <li><a href="https://github.com/hashicorp/terraform">25,000+ Commits</a></li>
                                <li><a href="https://registry.terraform.io/">1,000+ Modules</a></li>
                                <li><a href="https://www.terraform.io/docs/providers/">200+ Providers</a></li>
                            </ul>
                        </div>
                        <p>Open Source projects benefit from the scrutiny of a broad and diverse user base. Keeping the
                            code
                            available helps to teach and empower the community of users, while it also provides an easy
                            mechanism for
                            feedback, improvement, and customization. </p>
                    </div>
                </div>
                <div>
                    <div class="video-embed">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/4BCR7Yx4k4o"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <p class="caption">Co-Founders Mitchell Hashimoto and Armon Dadgar explain HashiCorp’s
                            commitment to open source</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>