.hero {
  --content-max-width: 800px;
  --padding-y: 64px;

  @media (--medium-up) {
    --padding-y: 80px;
    min-height: 543px;
  }

  position: relative;
  display: grid;
  place-items: center;
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
  background-image: linear-gradient(180deg, #f1f2f3 0%, #fff 35%);
  overflow: hidden;
}

.patterns {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 418px var(--content-max-width) 418px;
  justify-content: space-between;

  & img {
    display: grid;
    object-fit: cover;
  }
}

.patternsStart {
  position: relative;
  grid-column: 1;
}

.patternsEnd {
  position: relative;
  grid-column: 3;
}

.container {
  composes: g-grid-container from global;
}

.inner {
  margin: 0 auto;
  max-width: var(--content-max-width);
  text-align: center;
}

.actions {
  margin-top: var(--wpl-spacing-06);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

.actionsPrimary {
  display: grid;

  & > * {
    grid-area: 1 / 1;
    color: transparent;
  }

  &.settled > *:not([aria-hidden='true']) {
    color: white;
    z-index: 1;
  }
}
