    <%# This is the main Terraform Enterprise sidebar nav. It lives in a
    separate partial file so that we can recombine these sidebars in useful
    ways. %>


    <%# TODO Finalize the sidebar layout. %>
    <ul class="nav docs-sidenav">
      <li>
        <a href="#">Overview</a>
      </li>

      <li>
        <a href="#">Prerequisites</a>
        <ul class="nav">
          <li>
            <a href="#">Overview</a>
          </li>
          <li>
            <a href="#">Application Architecture</a>
          </li>
          <li>
            <a href="#">Reference Architectures</a>
            <ul class="nav">
              <li>
                <a href="#">Overview</a>
              </li>
              <li>
                <a href="#">AWS Reference Architecture</a>
              </li>
              <li>
                <a href="#">Azure Reference Architecture</a>
              </li>
              <li>
                <a href="#">GCP Reference Architecture</a>
              </li>
              <li>
                <a href="#">VMware Reference Architecture</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">System Requirements</a>
          </li>
          <li>
            <a href="#">Network Requirements</a>
          </li>
          <li>
            <a href="#">Data Storage Requirements</a>
            <ul class="nav">
              <li>
                <a href="#">Database Requirements</a>
              </li>
              <li>
                <a href="#">Object Storage Requirements</a>
              </li>
              <li>
                <a href="#">Mounted Disk Requirements</a>
              </li>
              <li>
                <a href="#">Encryption Requirements</a>
              </li>
              <li>
                <a href="#">Redis Requirements</a>
              </li>
            </ul>
          </li>
        </ul>
      </li> <%# end %>

      <li>
        <a href="#">Installation</a>
        <ul class="nav">
        </ul>
      </li> <%# end %>

      <li>
        <a href="#">Configuration</a>
        <ul class="nav">
        </ul>
      </li> <%# end %>

      <li>
        <a href="#">Administration</a>
        <ul class="nav">
        </ul>
      </li> <%# end %>

      <li>
        <a href="/docs/enterprise/support/index.html">Support</a>
      </li>

    </ul>
