
<a class="notification" href="https://app.terraform.io/signup">
  <div class="notification-tag">
    <span>New</span>
  </div>
  <div class="notification-text">
    <span>Introducing Terraform Cloud Remote State Management</span>
    <span class="notification-link">
        Sign Up For Free
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 12H20" stroke="#5F43E9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 6L20 12L14 18" stroke="#5F43E9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
    </span>
  </div>
</a>
