<%# Call with partial("layouts/otherdocs", locals: { skip: "Terraform CLI", header: "Optional Header" }) -%>
<%
  skip ||= ""
  header ||= "Other Docs"
  other_docs = {
    "Intro to Terraform" => "/intro/index.html",
    "Configuration Language" => "/docs/language/index.html",
    "Terraform CLI" => "/docs/cli/index.html",
    "Terraform Cloud" => "/docs/cloud/index.html",
    "Terraform Enterprise" => "/docs/enterprise/index.html",
    "Use Providers" => "/docs/providers/index.html",
    "Develop Plugins" => "/docs/extend/index.html",
    "Publish on Terraform Registry" => "/docs/registry/index.html",
    "Terraform Glossary" => "/docs/glossary.html"
  }
-%>
    <h4 id="otherdocs"><%= header %></h4>

    <ul class="nav docs-sidenav">
<% other_docs.each do |name, path| -%>
<% unless name.downcase == skip.downcase -%>
      <li>
        <a class="back" href="<%= path %>"><%= name %></a>
      </li>
<% end %>
<% end -%>
    </ul>
