<div class="sidebar-overlay"></div>

<aside class="sidebar" role="navigation">
  <div class="sidebar-header">
    <%= inline_svg "logo-text.svg", height: 42, class: "logo" %>
  </div>

  <ul class="nav sidebar-nav">
    <li><a data-track='intro' href="/intro/index.html">Intro</a></li>
    <li><a data-track='learn' href="https://learn.hashicorp.com/terraform/">Learn</a></li>
    <li><a data-track='registry' href="https://registry.terraform.io">Registry</a></li>
    <li><a data-track='community' href="/community.html">Community</a></li>
    <li><a data-track='enterprise' href="https://www.hashicorp.com/products/terraform/?utm_source=oss&utm_medium=header-nav&utm_campaign=terraform">Enterprise</a></li>
  </ul>

  <div class="divider"></div>

  <ul class="external nav sidebar-nav">
    <li>
      <a data-track='download' href="/downloads.html">
        <%= inline_svg "download.svg" %> Download
      </a>
    </li>
    <li>
      <a data-track='github' href="https://github.com/hashicorp/terraform">
        <%= inline_svg "github.svg" %> GitHub
      </a>
    </li>
  </ul>

  <div class="divider"></div>

  <ul class="nav sidebar-nav">
    <li><a data-track='docs' href="/docs/index.html">Docs:</a></li>
    <%= docs_items %>
  </ul>

</aside>
