<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h4><a href="/docs/cli-index.html">Terraform CLI</a></h4>

    <ul class="nav docs-sidenav">

      <li>
        <a href="#">Overview</a>
      </li>

      <li>
        <a href="#">Configuring</a>
        <ul class="nav">
          <li>
            <a href="/docs/commands/cli-config.html">CLI Config File</a>
          </li>

          <li>
            <a href="/docs/commands/environment-variables.html">Environment Variables</a>
          </li>

          <li>
            <a href="/docs/commands/login.html"><code>login</code></a>
          </li>

          <li>
            <a href="/docs/commands/logout.html"><code>logout</code></a>
          </li>
        </ul>
      </li>


      <li>
        <a href="#">Initializing and Managing Working Directories</a>
        <ul class="nav">
          <li>
            <a href="/docs/commands/init.html"><code>init</code></a>
          </li>

          <li>
            <a href="/docs/commands/get.html"><code>get</code></a>
          </li>

          <li>
            <a href="/docs/commands/workspace/index.html"><code>workspace</code></a>
            <ul class="nav">
              <li>
                <a href="/docs/commands/workspace/list.html"><code>list</code></a>
              </li>

              <li>
                <a href="/docs/commands/workspace/select.html"><code>select</code></a>
              </li>

              <li>
                <a href="/docs/commands/workspace/new.html"><code>new</code></a>
              </li>

              <li>
                <a href="/docs/commands/workspace/delete.html"><code>delete</code></a>
              </li>

              <li>
                <a href="/docs/commands/workspace/show.html"><code>show</code></a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Performing Terraform Runs</a>
        <ul class="nav">
          <li>
            <a href="/docs/commands/plan.html"><code>plan</code></a>
          </li>

          <li>
            <a href="/docs/commands/apply.html"><code>apply</code></a>
          </li>

          <li>
            <a href="/docs/commands/destroy.html"><code>destroy</code></a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Writing and Modifying Code</a>
        <ul class="nav">
          <li>
            <a href="/docs/commands/console.html"><code>console</code></a>
          </li>

          <li>
            <a href="/docs/commands/fmt.html"><code>fmt</code></a>
          </li>

          <li>
            <a href="/docs/commands/validate.html"><code>validate</code></a>
          </li>

          <li>
            <a href="/docs/commands/0.13upgrade.html"><code>0.13upgrade</code></a>
          </li>

          <li>
            <a href="/docs/commands/0.12upgrade.html"><code>0.12upgrade</code></a>
          </li>
        </ul>
      </li>



      <li>
        <a href="#">Inspecting Infrastructure</a>
        <ul class="nav">
          <li>
            <a href="/docs/commands/graph.html"><code>graph</code></a>
          </li>

          <li>
            <a href="/docs/commands/output.html"><code>output</code></a>
          </li>

          <li>
            <a href="/docs/commands/show.html"><code>show</code></a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Manipulating State</a>
        <ul class="nav">
          <li>
            <a href="/docs/commands/taint.html"><code>taint</code></a>
          </li>

          <li>
            <a href="/docs/commands/untaint.html"><code>untaint</code></a>
          </li>

          <li>
            <a href="/docs/commands/import.html"><code>import</code></a>
          </li>

          <li>
            <a href="/docs/commands/refresh.html"><code>refresh</code></a>
          </li>

          <li>
            <a href="/docs/commands/state/index.html"><code>state</code></a>
            <ul class="nav">
              <li>
                <a href="/docs/commands/state/addressing.html">Resource Addressing</a>
              </li>

              <li>
                <a href="/docs/commands/state/list.html"><code>list</code></a>
              </li>

              <li>
                <a href="/docs/commands/state/mv.html"><code>mv</code></a>
              </li>

              <li>
                <a href="/docs/commands/state/pull.html"><code>pull</code></a>
              </li>

              <li>
                <a href="/docs/commands/state/push.html"><code>push</code></a>
              </li>

              <li>
                <a href="/docs/commands/state/replace-provider.html"><code>replace-provider</code></a>
              </li>

              <li>
                <a href="/docs/commands/state/rm.html"><code>rm</code></a>
              </li>

              <li>
                <a href="/docs/commands/state/show.html"><code>show</code></a>
              </li>
            </ul>
          </li>

          <li>
            <a href="/docs/commands/force-unlock.html"><code>force-unlock</code></a>
          </li>
        </ul>
      </li>


      <li>
        <a href="/docs/import/index.html">Importing Infrastructure</a>
        <ul class="nav">
          <li>
            <a href="/docs/import/usage.html">Usage</a>
          </li>

          <li>
            <a href="/docs/import/importability.html">Resource Importability</a>
          </li>
        </ul>
      </li>


      <li>
        <a href="/docs/plugins/index.html">Installing Plugins</a>
        <ul class="nav">
          <li>
            <a href="/docs/commands/providers.html"><code>providers</code></a>
            <ul class="nav">
              <li<%= sidebar_current("docs-commands-providers-mirror") %>>
                <a href="/docs/commands/providers/mirror.html"><code>mirror</code></a>
              </li>
              <li<%= sidebar_current("docs-commands-providers-schema") %>>
                <a href="/docs/commands/providers/schema.html"><code>schema</code></a>
              </li>
            </ul>
          </li>

          <li>
            <a href="/docs/plugins/basics.html">Basics</a>
          </li>

          <li>
            <a href="/docs/plugins/signing.html">Signing</a>
          </li>

          <li>
            <a href="/docs/plugins/provider.html">Provider</a>
          </li>

          <li>
            <a href="/docs/internals/internal-plugins.html">Internals</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/commands/index.html">All Terraform Commands</a>
        <ul class="nav">

          <li>
            <a href="/docs/commands/apply.html"><code>apply</code></a>
          </li>

          <li>
            <a href="/docs/commands/console.html"><code>console</code></a>
          </li>

          <li>
            <a href="/docs/commands/destroy.html"><code>destroy</code></a>
          </li>

          <li>
            <a href="/docs/commands/env.html"><code>env</code></a>
          </li>

          <li>
            <a href="/docs/commands/fmt.html"><code>fmt</code></a>
          </li>

          <li>
            <a href="/docs/commands/force-unlock.html"><code>force-unlock</code></a>
          </li>

          <li>
            <a href="/docs/commands/get.html"><code>get</code></a>
          </li>

          <li>
            <a href="/docs/commands/graph.html"><code>graph</code></a>
          </li>

          <li>
            <a href="/docs/commands/import.html"><code>import</code></a>
          </li>

          <li>
            <a href="/docs/commands/init.html"><code>init</code></a>
          </li>

          <li>
            <a href="/docs/commands/login.html"><code>login</code></a>
          </li>

          <li>
            <a href="/docs/commands/logout.html"><code>logout</code></a>
          </li>

          <li>
            <a href="/docs/commands/output.html"><code>output</code></a>
          </li>

          <li>
            <a href="/docs/commands/plan.html"><code>plan</code></a>
          </li>

          <li>
            <a href="/docs/commands/providers.html"><code>providers</code></a>
          </li>

          <li>
            <a href="/docs/commands/providers/mirror.html"><code>providers mirror</code></a>
          </li>

          <li>
            <a href="/docs/commands/providers/schema.html"><code>providers schema</code></a>
          </li>

          <li>
            <a href="/docs/commands/push.html"><code>push</code></a>
          </li>

          <li>
            <a href="/docs/commands/refresh.html"><code>refresh</code></a>
          </li>

          <li>
            <a href="/docs/commands/show.html"><code>show</code></a>
          </li>

          <li>
            <a href="/docs/commands/state/list.html"><code>state list</code></a>
          </li>

          <li>
            <a href="/docs/commands/state/mv.html"><code>state mv</code></a>
          </li>

          <li>
            <a href="/docs/commands/state/pull.html"><code>state pull</code></a>
          </li>

          <li>
            <a href="/docs/commands/state/push.html"><code>state push</code></a>
          </li>

          <li>
            <a href="/docs/commands/state/replace-provider.html"><code>state replace-provider</code></a>
          </li>

          <li>
            <a href="/docs/commands/state/rm.html"><code>state rm</code></a>
          </li>

          <li>
            <a href="/docs/commands/state/show.html"><code>state show</code></a>
          </li>

          <li>
            <a href="/docs/commands/taint.html"><code>taint</code></a>
          </li>

          <li>
            <a href="/docs/commands/validate.html"><code>validate</code></a>
          </li>

          <li>
            <a href="/docs/commands/untaint.html"><code>untaint</code></a>
          </li>

          <li>
            <a href="/docs/commands/workspace/list.html"><code>workspace list</code></a>
          </li>

          <li>
            <a href="/docs/commands/workspace/select.html"><code>workspace select</code></a>
          </li>

          <li>
            <a href="/docs/commands/workspace/new.html"><code>workspace new</code></a>
          </li>

          <li>
            <a href="/docs/commands/workspace/delete.html"><code>workspace delete</code></a>
          </li>

          <li>
            <a href="/docs/commands/workspace/show.html"><code>workspace show</code></a>
          </li>

          <li>
            <a href="/docs/commands/0.13upgrade.html"><code>0.13upgrade</code></a>
          </li>

          <li>
            <a href="/docs/commands/0.12upgrade.html"><code>0.12upgrade</code></a>
          </li>
        </ul>
      </li>


    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Terraform CLI" }) %>
  <% end %>

  <%= yield %>
<% end %>
