<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h4><a href="/docs/enterprise/index.html">Terraform Enterprise</a></h4>

    <a href="#" class="subnav-toggle">(Expand/collapse all)</a>

    <ul class="nav docs-sidenav">
      <li>
        <a href="/docs/enterprise/getting-started/index.html">Getting Started</a>
        <ul class="nav">
          <li>
            <a href="/docs/enterprise/getting-started/access.html">Accessing TFE</a>
          </li>
          <li>
            <a href="/docs/enterprise/getting-started/vcs.html">Configuring VCS Access</a>
          </li>
          <li>
            <a href="/docs/enterprise/getting-started/workspaces.html">Creating Workspaces</a>
          </li>
          <li>
            <a href="/docs/enterprise/getting-started/runs.html">Running Terraform</a>
          </li>
          <li>
            <a href="/docs/enterprise/getting-started/policies.html">Creating Policies</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/enterprise/migrate/index.html">Migrating from Open Source</a>
        <ul class="nav">
          <li>
            <a href="/docs/enterprise/migrate/workspaces.html">Migrating Multiple Workspaces</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/enterprise/upgrade/index.html">Upgrading</a>
        <ul class="nav">
          <li>
            <a href="/docs/enterprise/upgrade/batch.html">Batch migration</a>
          </li>
          <li>
            <a href="/docs/enterprise/upgrade/differences.html">Current vs. Legacy</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/enterprise/vcs/index.html">VCS Integration</a>
        <ul class="nav">
          <li>
            <a href="/docs/enterprise/vcs/github.html">Github</a>
          </li>
          <li>
            <a href="/docs/enterprise/vcs/github-enterprise.html">Github Enterprise</a>
          </li>
          <li>
            <a href="/docs/enterprise/vcs/gitlab-com.html">GitLab.com</a>
          </li>
          <li>
            <a href="/docs/enterprise/vcs/gitlab-eece.html">GitLab EE and CE</a>
          </li>
          <li>
            <a href="/docs/enterprise/vcs/bitbucket-cloud.html">Bitbucket Cloud</a>
          </li>
          <li>
            <a href="/docs/enterprise/vcs/bitbucket-server.html">Bitbucket Server</a>
          </li>
          <li>
            <a href="/docs/enterprise/vcs/troubleshooting.html">Troubleshooting</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/enterprise/workspaces/index.html">Workspaces</a>
        <ul class="nav">
          <li>
            <a href="/docs/enterprise/workspaces/naming.html">Naming</a>
          </li>
          <li>
            <a href="/docs/enterprise/workspaces/creating.html">Creating Workspaces</a>
          </li>
          <li>
            <a href="/docs/enterprise/workspaces/access.html">Managing Access</a>
          </li>
          <li>
            <a href="/docs/enterprise/workspaces/repo-structure.html">Repo Structure</a>
          </li>
          <li>
            <a href="/docs/enterprise/workspaces/settings.html">Settings</a>
          </li>
          <li>
            <a href="/docs/enterprise/workspaces/notifications.html">Notifications</a>
          </li>
          <li>
            <a href="/docs/enterprise/workspaces/variables.html">Variables</a>
          </li>
          <li>
            <a href="/docs/enterprise/workspaces/ssh-keys.html">SSH Keys for Modules</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/enterprise/run/index.html">Terraform Runs</a>
        <ul class="nav">
          <li>
            <a href="/docs/enterprise/run/states.html">Run States and Stages</a>
          </li>
          <li>
            <a href="/docs/enterprise/run/ui.html">UI/VCS-driven Runs</a>
          </li>
          <li>
            <a href="/docs/enterprise/run/api.html">API-driven Runs</a>
          </li>
          <li>
            <a href="/docs/enterprise/run/cli.html">CLI-driven Runs</a>
          </li>
          <li>
            <a href="/docs/enterprise/run/install-software.html">Installing Software</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/enterprise/registry/index.html">Private Module Registry</a>
        <ul class="nav">
          <li>
            <a href="/docs/enterprise/registry/using.html">Using Private Modules</a>
          </li>
          <li>
            <a href="/docs/enterprise/registry/publish.html">Publishing Private Modules</a>
          </li>
          <li>
            <a href="/docs/enterprise/registry/design.html">Configuration Designer</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/enterprise/users-teams-organizations/index.html">Users, Teams, Organizations</a>
        <ul class="nav">
          <li>
            <a href="/docs/enterprise/users-teams-organizations/users.html">Users</a>
          </li>
          <li>
            <a href="/docs/enterprise/users-teams-organizations/teams.html">Teams</a>
          </li>
          <li>
            <a href="/docs/enterprise/users-teams-organizations/organizations.html">Organizations</a>
          </li>
          <li>
            <a href="/docs/enterprise/users-teams-organizations/permissions.html">Permissions</a>
          </li>
          <li>
          <a href="/docs/enterprise/users-teams-organizations/2fa.html">Two-factor Authentication</a>
        </li>
          <li>
            <a href="/docs/enterprise/users-teams-organizations/service-accounts.html">Service Accounts</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/enterprise/sentinel/index.html">Sentinel</a>
        <ul class="nav">
          <li>
            <a href="/docs/enterprise/sentinel/manage-policies.html">Manage Policies</a>
          </li>
          <li>
            <a href="/docs/enterprise/sentinel/integrate-vcs.html">Manage Policies with VCS</a>
          </li>
          <li>
            <a href="/docs/enterprise/sentinel/enforce.html">Enforce and Override Policies</a>
          </li>
          <li>
            <a href="/docs/enterprise/sentinel/mock.html">Mocking Terraform Sentinel Data</a>
          </li>
          <li>
            <a href="/docs/enterprise/sentinel/import/index.html">Defining Policies</a>
            <ul class="nav">
              <li>
                <a href="/docs/enterprise/sentinel/import/tfconfig.html">import: tfconfig</a>
              </li>
              <li>
                <a href="/docs/enterprise/sentinel/import/tfplan.html">import: tfplan</a>
              </li>
              <li>
                <a href="/docs/enterprise/sentinel/import/tfstate.html">import: tfstate</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/docs/enterprise/sentinel/examples.html">Example Policies</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/docs/enterprise/api/index.html">API</a>
        <ul class="nav">
          <li>
            <a href="/docs/enterprise/api/account.html">Account</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/applies.html">Applies</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/configuration-versions.html">Configuration Versions</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/notification-configurations.html">Notification Configurations</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/oauth-clients.html">OAuth Clients</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/oauth-tokens.html">OAuth Tokens</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/organizations.html">Organizations</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/organization-tokens.html">Organization Tokens</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/plan-exports.html">Plan Exports</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/plans.html">Plans</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/policies.html">Policies</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/policy-checks.html">Policy Checks</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/policy-sets.html">Policy Sets</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/modules.html">Registry Modules</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/run.html">Runs</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/ssh-keys.html">SSH Keys</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/state-versions.html">State Versions</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/team-access.html">Team Access</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/team-members.html">Team Membership</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/team-tokens.html">Team Tokens</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/teams.html">Teams</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/user-tokens.html">User Tokens</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/users.html">Users</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/variables.html">Variables</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/workspaces.html">Workspaces</a>
          </li>
          <li>
            <a href="/docs/enterprise/api/admin/index.html">Admin</a>
            <ul class="nav">
              <li>
                <a href="/docs/enterprise/api/admin/organizations.html">Organizations</a>
              </li>
              <li>
                <a href="/docs/enterprise/api/admin/runs.html">Runs</a>
              </li>
              <li>
                <a href="/docs/enterprise/api/admin/settings.html">Settings</a>
              </li>
              <li>
                <a href="/docs/enterprise/api/admin/terraform-versions.html">Terraform Versions</a>
              </li>
              <li>
                <a href="/docs/enterprise/api/admin/users.html">Users</a>
              </li>
              <li>
                <a href="/docs/enterprise/api/admin/workspaces.html">Workspaces</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <hr>

      <li>
        <a href="/docs/enterprise/private/index.html">Private Terraform Enterprise</a>
        <ul class="nav">
          <li>
            <a href="/docs/enterprise/private/reference-architecture-installer.html">Reference Architecture (Installer)</a>
            <ul class="nav">
              <li>
                <a href="/docs/enterprise/private/aws-setup-guide.html">AWS Reference Architecture</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/azure-setup-guide.html">Azure Reference Architecture</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/gcp-setup-guide.html">GCP Reference Architecture</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/vmware-setup-guide.html">VMware Reference Architecture</a>
              </li>
            </ul>
          <li>
            <a href="/docs/enterprise/private/install-installer.html">Installation (Installer)</a>
            <ul class="nav">
              <li>
                <a href="/docs/enterprise/private/preflight-installer.html">Installer Preflight</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/install-installer.html">Installation</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/migrate.html">Migrate from AMI</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/rhel-install-guide.html">RedHat Enterprise Linux Install Guide</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/centos-install-guide.html">CentOS Linux Install Guide</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/minio-setup-guide.html">Minio Setup Guide</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/automating-the-installer.html">Automated Installation</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/automating-initial-user.html">Initial Admin Automation </a>
              </li>
              <li>
                <a href="/docs/enterprise/private/upgrades.html">Upgrades</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/vault.html">External Vault</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/automated-recovery.html">Automated Recovery</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/capacity.html">Capacity &amp; Performance</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/docs/enterprise/private/install-ami.html">Installation (AMI)</a>
          </li>
          <li>
            <a href="/docs/enterprise/private/config.html">Configuration</a>
          </li>
          <li>
            <a href="/docs/enterprise/private/admin/index.html">Administration</a>
            <ul class="nav">
              <li>
                <a href="/docs/enterprise/private/admin/general.html">General Settings</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/admin/integration.html">Integration Settings</a>
              </li>
              <li>
                <a href="/docs/enterprise/private/admin/resources.html">Managing Accounts &amp; Resources</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/docs/enterprise/saml/index.html">SAML SSO</a>
            <ul class="nav">
              <li>
                <a href="/docs/enterprise/saml/configuration.html">Configuration</a>
              </li>
              <li>
                <a href="/docs/enterprise/saml/team-membership.html">Team Membership</a>
              </li>
              <li>
                <a href="/docs/enterprise/saml/attributes.html">Attributes</a>
              </li>
              <li>
                <a href="/docs/enterprise/saml/login.html">Login</a>
              </li>
              <li>
                <a href="/docs/enterprise/saml/identity-provider-configuration.html">Identity Provider Configuration</a>
                <ul class="nav">
                  <li>
                    <a href="/docs/enterprise/saml/identity-provider-configuration-adfs.html">ADFS</a>
                  </li>
                  <li>
                    <a href="/docs/enterprise/saml/identity-provider-configuration-aad.html">Azure Active Directory</a>
                  </li>
                  <li>
                    <a href="/docs/enterprise/saml/identity-provider-configuration-okta.html">Okta</a>
                  </li>
                  <li>
                    <a href="/docs/enterprise/saml/identity-provider-configuration-onelogin.html">OneLogin</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/docs/enterprise/saml/troubleshooting.html">Troubleshooting</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/docs/enterprise/private/reliability-availability.html">Reliability &amp; Availability</a>
          </li>
          <li>
            <a href="/docs/enterprise/private/data-security.html">Data Security</a>
          </li>
          <li>
            <a href="/docs/enterprise/private/logging.html">Logging</a>
          </li>
          <li>
            <a href="/docs/enterprise/private/monitoring.html">Monitoring</a>
          </li>
          <li>
            <a href="/docs/enterprise/private/diagnostics.html">Diagnostics</a>
          </li>
          <li>
            <a href="/docs/enterprise/private/faq.html">FAQs</a>
          </li>
        </ul>
      </li>

      <hr>

      <li>
        <a class="back" href="/docs/enterprise-legacy/index.html">Terraform Enterprise (legacy)</a>
      </li>
    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Terraform Enterprise" }) %>

  <% end %>

  <%= yield %>
<% end %>
