<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h4><a href="/docs/github-actions/index.html">Terraform GitHub Actions</a></h4>

    <a href="#" class="subnav-toggle">(Expand/collapse all)</a>

    <ul class="nav docs-sidenav">

      <li>
        <a href="/docs/github-actions/index.html">Actions</a>
        <ul class="nav">
          <li>
            <a href="/docs/github-actions/setup-terraform.html">hashicorp/setup-terraform</a>
          </li>
        </ul>
      </li>

    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Terraform GitHub Actions" }) %>
  <% end %>

  <%= yield %>
<% end %>
