<% wrap_layout :layout do %>
<div class="container">
  <div class="row">
    <div id="docs-sidebar" class="col-sm-4 col-md-3 col-xs-12 hidden-print g-type-body-small" role="complementary">
      <a href="#inner" id="screenreader-skip" class="sr-only sr-only-focusable">Skip to content</a>
      <a href="#inner" id="mobile-skip" class="visible-xs">(Skip to content ⤵︎)</a>
      <div id="controls-placeholder" style="display: none;"></div>
      <div id="sidebar-header-grid"></div>
      <% if content_for?(:sidebar) %>
      <%
        sidebar_text = yield_content(:sidebar)
        fuzzy_url = current_page.url.sub(%r{(/|/index\.html)$}, '/(index\.html)?')
        sidebar_text.gsub!(/href=["']#{fuzzy_url}['"]/, '\0 class="current-page"')
      %>
      <%= sidebar_text %>
      <% end %>
    </div>

    <%
      external_docs_links = {
        '/docs/providers/azuread/index.html'        => 'https://registry.terraform.io/providers/hashicorp/azuread/',
        '/docs/providers/azurerm/index.html'        => 'https://registry.terraform.io/providers/hashicorp/azurerm/',
        '/docs/providers/github/index.html'         => 'https://registry.terraform.io/providers/hashicorp/github/',
        '/docs/providers/google/index.html'         => 'https://registry.terraform.io/providers/hashicorp/google/',
        '/docs/providers/terraform/index.html'      => 'https://registry.terraform.io/providers/hashicorp/terraform/',
        '/docs/providers/tfe/index.html'            => 'https://registry.terraform.io/providers/hashicorp/tfe/',
        '/docs/providers/vault/index.html'          => 'https://registry.terraform.io/providers/hashicorp/vault/',
      }
    %>
    <div id="inner" class="col-sm-8 col-md-9 col-xs-12" role="main">
      <div id="inner-header-grid">
        <div id="external-docs-link">
          <% if external_docs_links[current_page.url] %>
            <a href="<%= external_docs_links[current_page.url] %>">
              View on Terraform Registry
              <img src="/assets/images/outbound-link.svg" width="20" height="20" aria-hidden="true" style="vertical-align: text-bottom;">
            </a>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </div>
</div>
<% end %>
