<% wrap_layout :inner do %>
  <% content_for(:custom_share) do %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="<%= image_url("og-image.png") %>"/>
  <% end %>

  <% content_for :sidebar do %>
    <h4><a href="/docs/glossary.html">Glossary</a></h4>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Terraform Glossary" }) %>
  <% end %>

  <%= yield %>
<% end %>

