.g-alert-banner {
  background: #f4ecff;
  color: #000000;
  display: none;
  overflow: hidden;
  position: relative;
  transition: height 0.3s ease-out;

  @media (max-width: 767px) {
    display: none !important;
  }

  & svg path {
    stroke: #a291f2;
  }

  &.show {
    display: block;
  }

  &.has-large-tag {
    & > div {
      @media (max-width: 575px) {
        flex-direction: column;
      }
    }

    & .text {
      @media (max-width: 575px) {
        margin-right: 0;
        margin-top: 8px;
      }
    }
  }

  & > a {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }

  & .g-container > a {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    color: #000000;
    text-decoration: none;

    @media (max-width: 1120px) {
      align-items: flex-start;
    }
  }

  & .tag {
    flex-shrink: 0;
    background: none;
    text-transform: unset;

    & span {
      border-right: 1px solid #000000;
      color: #000000;
      padding-right: 10px;
    }
  }

  & .text span {
    margin-right: 4px;
  }

  & .link-text {
    text-decoration: underline;
    white-space: nowrap;

    @media (max-width: 992px) {
      display: none;
    }
  }

  & .close {
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 16px;
    z-index: 2;
    opacity: 1;

    & path {
      stroke: #000000;
    }

    @media (max-width: 768px) {
      right: 24px;
    }
  }
}
