#docs-sidebar {
  margin-bottom: 30px;
  margin-top: 20px;
  overflow: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 30px;
  }

  %sidebar-link {
    color: $sidebar-link-color;
    font-size: $sidebar-font-size;
    overflow-wrap: break-word;
    margin: 0 0 0 15px;
    padding: 0 0 11px 0;

    &:focus,
    &:hover {
      background-color: transparent;
      color: $sidebar-link-color-hover;
    }
  }

  a.subnav-toggle {
    margin-top: 4px;
  }
  div#sidebar-filter {
    a#sidebar-filter-field-clear {
      border: 1px solid $terraform-purple-dark;
      border-radius: 2px;
      padding: 3px;
      margin-left: 3px;
      width: 1em;
      @extend %sidebar-link;
    }
    label {
      font-size: .8em;
    }
  }

  ul.nav.docs-sidenav {
    display: block;
    padding-bottom: 15px;
    padding-top: 10px;

    li {
      a {
        @extend %sidebar-link;
      }

      &:before {
        color: $sidebar-link-color-active;
        content: '\2022';
        font-size: 1em;
        left: -3px;
        top: -3px;
        opacity: 0.4;
        position: absolute;
      }

      &.has-subnav {
        &:before {
          content: '\276F';
          cursor: pointer;
          transition: transform .1s linear;
        }
        &.active:before {
          transform: rotate(90deg);
          left: -1px;
          top: -1px;
        }
      }

      &.active {
        > a {
          color: $sidebar-link-color-active;
        }
        // Open nested navigations
        > ul.nav {
          display: block;
        }
        &:before {
          opacity: 1;
        }
      }

    }

    // subnav
    ul.nav-hidden {
      display: none;
    }
    ul.nav {
      padding: 10px;

      li {
        margin-left: 10px;
      }
    }
  }
}
