#docs-sidebar {
  margin-bottom: 30px;
  overflow: hidden;

  // hide an outdated implementation of expand/collapse link
  a.subnav-toggle {
    display: none;
  }

  a#mobile-skip {
    color: $body-link-color;
  }

  h3,
  h4 {
    min-height: 35px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    a {
      color: $body-link-color;
    }
  }

  %sidebar-link {
    color: $sidebar-link-color;
    font-size: $sidebar-font-size;
    overflow-wrap: break-word;
    margin: 0 0 0 15px;
    padding: 0 0 11px 0;

    &:focus,
    &:hover {
      background-color: transparent;
      color: $sidebar-link-color-hover;
    }
  }

  h4 + div#sidebar-controls {
    margin-top: 0;
  }

  div#sidebar-controls {
    margin-top: 65px; // if no header
    box-sizing: border-box;
    position: relative;
    height: 37px;
    .glyphicon-search {
      position: absolute;
      top: 7px;
      left: 7px;
      opacity: .7;
      z-index: -1;
    }
    #filter-close {
      position: absolute;
      top: 3px;
      right: 3px;
      opacity: .7;
      z-index: 1;
      border: none;
      background: transparent;
      padding: 4px;
    }
    input {
      font-size: 1rem;
      height: 100%;
      margin-bottom: 1px;
      padding-left: 28px;
      background: transparent;
    }
    @media (pointer: coarse) {
      input {
        font-size: 16px;
      }
      #filter-close {
        top: 7px;
      }
      .glyphicon-search {
        top: 11px;
      }
    }
    #sidebar-buttons button {
      font-variant-caps: all-small-caps;
      color: #666;
      display: inline-block;
      width: 40%;
      border: none;
      background: transparent;
    }
  }

  ul.nav.docs-sidenav {
    display: block;
    padding-bottom: 15px;
    padding-top: 10px;

    li {
      a {
        @extend %sidebar-link;
      }

      &:before {
        color: $sidebar-link-color-active;
        content: '\2022';
        font-size: 1em;
        left: -3px;
        top: -3px;
        opacity: 0.4;
        position: absolute;
      }

      &.has-subnav {
        cursor: pointer;
        &:before {
          content: '\276F';
          transition: transform .1s linear;
        }
        &.active:before {
          transform: rotate(90deg);
          left: -1px;
          top: -1px;
        }
      }

      &.active {
        > a {
          color: $sidebar-link-color-active;
        }
        // Open nested navigations
        > ul.nav {
          display: block;
        }
        &:before {
          opacity: 1;
        }
      }

    }

    // subnav
    ul.nav-hidden {
      display: none;
    }
    ul.nav {
      padding: 10px;

      li {
        margin-left: 10px;
      }
    }
  }
}
