:root {
  --font-display: "gilmer-web", "Gilmer", Geneva, Tahoma, Helvetica, Verdana,
    sans-serif;
  --font-body: "metro-web", "Metro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --brand: #1563ff;
  --white: #ffffff;
  --gray-7: #f7f7f9;
  --gray-6: #dcdde0;
  --gray-5: #bdbec2;
  --gray-4: #76767d;
  --gray-3: #4c4c53;
  --gray-2: #323339;
  --gray-1: #1d1e23;
  --black: #000000;
}
.hashiStackMenuRoot.hashiStackMenu {
  width: 100%;
  background: var(--gray-7);
  height: 56px;
  border-bottom: 1px solid var(--gray-6);
}
.hashiStackMenuRoot {
  .nav {
    height: 100%;
    display: -webkit-box;
    display: flex;
    position: relative;
    list-style: none;
  }
  .logoLink {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-right: 1rem;
  }
  .logoLink div {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 101px;
    height: 100%;
  }
  .logoLink svg {
    height: 100%;
    width: 100%;
  }
  .menu {
    display: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
  }
  @media (min-width: 960px) {
    .menu {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
  }
  .navItem {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    color: var(--brand);
    list-style: none;
    position: relative;
    white-space: nowrap;
  }
  .buttonReset {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    padding: 0;
    margin-right: 0.5rem;
  }
  .buttonReset svg {
    -webkit-transition: 0.3s -webkit-transform;
    transition: 0.3s -webkit-transform;
    transition: 0.3s transform;
    transition: 0.3s transform, 0.3s -webkit-transform;
  }
  .link {
    /* start .g-type-body-small-strong styles */
    font-size: 15.008px;
    letter-spacing: 0.15008px;
    line-height: 25.0167px;
    font-weight: 600;
    /* end .g-type-body-small-strong styles */
    position: relative;
    color: var(--gray-4);
    padding: 1rem 1.25rem 1rem 1rem;
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
  }
  .link svg {
    position: absolute;
    right: 0.25rem;
    top: 1.65rem;
  }
  .link svg path {
    stroke: var(--gray-4);
  }
  .link:hover {
    text-decoration: none;
    color: var(--gray-1);
  }
  .link:hover svg path {
    stroke: var(--gray-1);
  }
  .buttonActive {
    color: var(--gray-1);
  }
  .buttonActive svg {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .buttonActive svg path {
    stroke: var(--black);
  }
  .visuallyHidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  section.browsePanel {
    position: absolute;
    display: none;
    padding: 0;
  }
  section.browsePanel.isOpen {
    top: 100%;
    left: -1rem;
    right: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    box-shadow: 0 4px 5px rgba(37, 38, 45, 0.12);
    padding: 2rem !important;
    background: var(--white);
    border-bottom: 1px solid var(--gray-6);
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 832px;
    z-index: 901;
    min-height: 360px;
  }
  .stackMenuSection {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    -webkit-box-flex: 1;
    flex: 1 1 125px;
  }
  .stackMenuSectionPlusDivider {
    flex: 1 0 260px;
    padding: 0;
    margin-left: 80px;
    position: relative;
  }
  .stackMenuSectionPlusDivider:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background: var(--gray-6);
    left: -64px;
  }
  .stackGroup {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex: 1 0 50%;
    margin-bottom: 1.25rem;
  }
  .stackGroup + .stackGroup {
    margin-bottom: 0;
    & > .stackGroupLinkList {
      padding-bottom: 0;
    }
  }
  .stackGroupHeading {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.06rem;
    margin: 0;
    width: 100%;
    color: var(--gray-2);
  }
  .stackGroupLinkList {
    padding: 1.25rem 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .stackItem {
    list-style: none;
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 0.25rem;
  }
  .itemLink {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: var(--gray-1);
    -webkit-box-align: center;
    align-items: center;
    position: relative;
  }
  .itemName {
    font-family: var(--font-body);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5em;
  }
  .productName {
    text-transform: capitalize;
  }
  .productIcon {
    margin-right: 8px;
    width: 22px;
    height: auto;
  }
  .badge {
    position: absolute;
    text-align: center;
    left: calc(100% + 10px);
    top: 4px;
    padding: 1.5px 4px 1.5px 6px;
    border-radius: 2px;
    display: block;
    font-family: var(--font-display);
    font-weight: 700;
    font-size: 10px;
    line-height: 1.272727273em;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    background: var(--white);
    color: var(--gray-4);
    border: 1px solid var(--gray-5);
  }
  .badgeTypeNew {
    background: var(--gray-2);
    color: var(--white);
    border-color: var(--gray-2);
  }
}
