#inner {

  #inner-header-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: minmax(90px, auto) 32px; // match #sidebar-header-grid
    margin-bottom: 16px;

    margin-top: 20px; // fallback for non-grid browsers
    @supports (display: grid) {
      // margin-top: 0; // commented out to account for two row headers
    }

    h1 {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: self-end;
      line-height: 44px; // align baseline w/ H4 in sidebar
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  #external-docs-link {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: self-end;
    line-height: 26px;
    margin-left: 12px;
  }

  #inner-quicknav {
    margin-left: 10px;
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: self-start;

    span {
      cursor: pointer;
      font-variant-caps: all-small-caps;
      color: #666;

      svg {
        fill: $body-font-color;
        position: relative;
        top: -2px;
        width: 9px;
        height: 5px;
        margin-left: 7px;
      }
    }

    ul {
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease;
      width: 80%;
      box-shadow: 0px 4px 12px -2px rgba(63, 68, 85, 0.5);
      border-radius: 3px;
      padding: 2rem;
      position: absolute;
      z-index: 1;
      background-color: $home-header-background-color;
      margin-left: -15px;

      &.active {
        visibility: visible;
        opacity: 1;
        display: block;
        transition-duration: 0s;
      }

      li {
        clear: both;
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 0;

        $toc-indent: 30px;
        &.level-h2 {
          padding-left: $toc-indent * 0;
        }
        &.level-h3 {
          padding-left: $toc-indent * 1;
        }
        &.level-h4 {
          padding-left: $toc-indent * 2;
        }
        &.level-h5 {
          padding-left: $toc-indent * 3;
        }
        &.level-h6 {
          padding-left: $toc-indent * 4;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  h1 {
    @extend .g-type-display-2;
  }

  h2 {
    @extend .g-type-display-3;
  }

  h3 {
    @extend .g-type-display-4;
  }

  h4 {
    @extend .g-type-display-5;
  }

  h5,
  h6 {
    @extend .g-type-display-6;
  }

  p,
  li,
  .alert {
    @extend .g-type-long-body;
    margin: 0 0 $font-size-default;
  }

  .alert p:last-child {
    margin-bottom: 0;
  }

  code {
    background-color: $terraform-l3;
    color: inherit;
  }

  pre {
    padding: 20px;
    margin: 0 0 $font-size-default;

    // This will force the code to scroll horizontally on small screens
    // instead of wrapping.
    code {
      overflow-wrap: normal;
      white-space: pre;
      background-color: transparent;
    }
  }

  a {
    color: $body-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    code {
      color: $body-link-color;
    }
  }

  img {
    display: block;
    margin: 25px auto;
    max-width: 90%;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $body-font-color;
    margin-bottom: $font-size-default;
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 54px;
  }
  h2 {
    padding-bottom: 3px;
    border-bottom: 1px solid $gray-light;
  }

  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code,
  h5 > code h6 > code {
    color: inherit;
    font-size: 50%;
    margin: 0 5px;
  }

  table {
    @extend .table;
    @extend .table-striped;
  }

  iframe {
    width: 100%;
    max-width: 560px;
  }
}
