.tag {
  background: #f0f0f7;
  border-radius: 3px;
  color: $black;
  display: inline-block;
  font-family: $font-body;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0 0.5rem;
  padding: 2px 5px;
  text-transform: uppercase;
}
