.hds-font-weight-medium {
  font-weight: 500;
}

/* 
* These styles were copied directly from 'components/button' 
*
* Root class applied to all button variations. 
*/
.root {
  /* variables */
  --border-width: 1px;

  /* composition */
  composes: hds-font-weight-medium;

  /* attributes */
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-width: var(--border-width);
  display: flex;
  font-size: var(--font-size);
  font-family: var(--font-body-hds);
  gap: 6px;
  isolation: isolate;
  justify-content: center;
  line-height: var(--line-height);
  padding: var(--padding-top-bottom) var(--padding-left-right);
  position: relative;
  text-decoration: underline;

  &::before {
    border-radius: 8px;
    border: 3px solid transparent;
    bottom: -4px;
    box-sizing: border-box;
    content: '';
    left: -4px;
    position: absolute;
    right: -4px;
    top: -4px;
    z-index: -1;
  }

  &:focus,
  &:focus-visible {
    outline: transparent;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--token-color-surface-faint);
    border-color: var(--token-color-border-primary);
    box-shadow: none;
    color: var(--token-color-foreground-disabled);
    cursor: not-allowed;
  }
}

/*
  ***
  * Size classes
  ***
  */

.small {
  --padding-top-bottom: calc(7px - var(--border-width));
  --padding-left-right: calc(12px - var(--border-width));
  --font-size: 0.8125rem;
  --line-height: 0.875rem;
}

.medium {
  --padding-top-bottom: calc(10px - var(--border-width));
  --padding-left-right: calc(16px - var(--border-width));
  --font-size: 0.875rem;
  --line-height: 1rem;
}

.large {
  --padding-top-bottom: calc(12px - var(--border-width));
  --padding-left-right: calc(20px - var(--border-width));
  --font-size: 1rem;
  --line-height: 1.5rem;
}

/*
  ***
  * Color classes
  ***
  */

.primary {
  background-color: var(--token-color-palette-blue-200);
  border-color: var(--token-color-palette-blue-300);
  color: var(--token-color-foreground-high-contrast);
  box-shadow: var(--token-elevation-low-box-shadow);

  &:hover:not(:disabled) {
    background-color: var(--token-color-palette-blue-300);
    border-color: var(--token-color-palette-blue-400);
    color: var(--token-color-foreground-high-contrast);
  }

  &:active:not(:disabled) {
    background-color: var(--token-color-palette-blue-400);
    border-color: var(--token-color-palette-blue-400);
    box-shadow: none;
    color: var(--token-color-foreground-high-contrast);
  }

  &:focus-visible {
    background-color: var(--token-color-palette-blue-200);
    border-color: var(--token-color-focus-action-internal);
    color: var(--token-color-foreground-high-contrast);
    box-shadow: none;

    &::before {
      border-radius: 10px;
      border-color: var(--token-color-focus-action-external);
      bottom: -6px;
      left: -6px;
      right: -6px;
      top: -6px;
    }
  }
}

.secondary {
  background-color: var(--token-color-surface-faint);
  border-color: var(--token-color-border-strong);
  box-shadow: var(--token-elevation-low-box-shadow);
  color: var(--token-color-foreground-primary);

  &:hover:not(:disabled) {
    background-color: var(--token-color-surface-primary);
    border-color: var(--token-color-border-strong);
    color: var(--token-color-foreground-primary);
  }

  &:active:not(:disabled) {
    background-color: var(--token-color-surface-interactive-active);
    border-color: var(--token-color-border-strong);
    box-shadow: none;
    color: var(--token-color-foreground-primary);
  }

  &:focus-visible {
    background-color: var(--token-color-surface-faint);
    border-color: var(--token-color-focus-action-internal);
    color: var(--token-color-foreground-primary);
    box-shadow: none;

    &::before {
      border-color: var(--token-color-focus-action-external);
    }
  }
}

.tertiary {
  background-color: transparent;
  border-color: transparent;
  color: var(--token-color-foreground-action);

  &:hover:not(:disabled) {
    background-color: var(--token-color-surface-primary);
    border-color: var(--token-color-border-strong);
    color: var(--token-color-foreground-action-hover);
  }

  &:active:not(:disabled) {
    background-color: var(--token-color-surface-interactive-active);
    border-color: var(--token-color-border-strong);
    box-shadow: none;
    color: var(--token-color-foreground-action-active);
  }

  &:focus-visible {
    border-color: var(--token-color-focus-action-internal);
    color: var(--token-color-foreground-action);

    &::before {
      border-color: var(--token-color-focus-action-external);
    }
  }

  &:disabled {
    background-color: transparent;
    border-color: transparent;
  }
}

.critical {
  background-color: var(--token-color-surface-critical);
  border-color: var(--token-color-foreground-critical-on-surface);
  box-shadow: var(--token-elevation-low-box-shadow);
  color: var(--token-color-foreground-critical-on-surface);

  &:hover:not(:disabled) {
    background-color: var(--token-color-palette-red-300);
    border-color: var(--token-color-palette-red-400);
    color: var(--token-color-foreground-high-contrast);
  }

  &:active:not(:disabled) {
    background-color: var(--token-color-palette-red-400);
    border-color: var(--token-color-palette-red-400);
    box-shadow: none;
    color: var(--token-color-foreground-high-contrast);
  }

  &:focus-visible {
    background-color: var(--token-color-surface-critical);
    border-color: var(--token-color-focus-critical-internal);
    color: var(--token-color-foreground-critical-on-surface);
    box-shadow: none;

    &::before {
      border-color: var(--token-color-focus-critical-external);
    }
  }
}
