.g-pricing-tile {
  padding-top: 40px;

  @media (min-width: 768px) {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 (-$site-gutter-padding);
    text-align: left;
  }

  & > div {
    flex-grow: 1;

    @media (min-width: 768px) {
      align-items: center;
      margin: 0 auto;
      display: flex;
      padding: $site-gutter-padding;
      width: 33%;
      min-width: 360px;
    }

    @media (max-width: 767px) {
      bottom: 12px;
      right: 12px;
      top: 12px;
      left: 12px;
    }

    & > div {
      display: flex;
      background: #f7f8fa;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 42px;
      height: 100%;
      // enables price to float at the bottom regardless of content height -- see .price
      position: relative;
      margin-bottom: 60px;
      width: 100%;
      word-wrap: normal;

      @media (max-width: 768px) {
        padding-bottom: 88px;
      }

      & > p {
        max-width: 100%;
        box-sizing: border-box;
      }
    }
  }

  & > div:nth-child(2) {
    @media (max-width: 768px) {
      margin-top: 30px;
    }
  }
  
  & .price {
    // enables price to float at the bottom regardless of content height
    position: absolute;
    bottom: 20px;
  }
}
