.g-pricing-tile {
  padding-top: 4rem;

  @media (min-width: 768px) {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 (-$site-gutter-padding);
    text-align: left;
  }

  & > div {
    flex-grow: 1;
    @media (min-width: 768px) {
      align-items: center;
      margin: 0 auto;
      display: flex;
      padding: $site-gutter-padding;
      width: 33%;
      min-width: 360px;
    }
    @media (max-width: 767px) {
      bottom: 12px;
      right: 12px;
      top: 12px;
      left: 12px;
      width: calc(100% - 24px);
    }

    & > div {
      display: flex;
      background: #f7f8fa;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 4.2rem;
      height: 100%;
      // enables price to float at the bottom regardless of content height -- see .price
      position: relative;
      margin-bottom: 6rem;
      width: 100%;
      word-wrap: normal;
      @media (max-width: 768px) {
        padding-bottom: 8.8rem;
      }
      & > p {
        max-width: 100%;
        box-sizing: border-box;
        font-size: 1.4rem;
      }
    }
  }
  & > div:nth-child(2) {
    @media (max-width: 768px) {
      margin-top: 3rem;
    }
  }
  & .price {
    // enables price to float at the bottom regardless of content height
    position: absolute;
    bottom: 20px;
    & > span {
      font-family: $font-family-klavika;
      font-kerning: normal;
      font-size: 3.8rem;
      font-weight: 200;
    }
  }
}
