/* composable classes from devdot design system */
.g-focus-ring-from-box-shadow {
  &:focus {
    outline: transparent;
  }

  &:focus-visible {
    box-shadow: var(--token-focus-ring-action-box-shadow);
    outline: transparent;
  }
}

.root {
  /* variables from devdot design system */
  --token-typography-body-100-font-size: 0.8125rem;
  --token-typography-font-weight-medium: 500;
  --token-color-foreground-strong: #0c0c0e;
  --token-color-foreground-primary: #3b3d45;

  composes: g-focus-ring-from-box-shadow;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  width: fit-content;

  &:active {
    text-decoration: underline;
  }

  &:hover {
    text-decoration: underline;
  }

  /*
    Not styling ::before with position: absolute and -5px positions because that
    does not work on links that span more than one line.
    */
  &:focus-visible {
    text-decoration: none;
    margin: -5px;
    padding: 5px;
  }

  & svg {
    flex-shrink: 0;

    &:first-child {
      margin-right: 6px;
    }

    &:last-child {
      margin-left: 6px;
    }
  }
}

.text {
  font-size: var(--font-size);
  font-weight: var(--token-typography-font-weight-medium);
  line-height: var(--line-height);
}

/*
  ***
  * color helper classes
  ***
  */

.color-secondary {
  color: var(--token-color-foreground-strong);

  &:active {
    color: var(--token-color-foreground-primary);
  }
}

/*
  ***
  * size helper classes
  ***
  */

.small {
  --font-size: var(--token-typography-body-100-font-size);
  --line-height: 1rem;
}
