.cloudHero {
  & :global(.description) {
    max-width: 472px;
  }

  & > div {
    @media (width >= 1120px) {
      padding-top: 48px;
    }
  }
}

.whyCloudContent {
  padding-top: 128px;
  margin-top: -278px;

  & :global(.g-text-split) {
    background: none;
    padding-bottom: 128px;

    & a,
    & a span {
      color: var(--terraform);
    }

    & :global(.icon) svg [stroke] {
      stroke: var(--terraform);
    }
  }
}

.featuresContent {
  padding-top: 128px;
}
