/* Global Styles */
@import '~@hashicorp/mktg-global-styles/style.css';
@import '~@hashicorp/design-system-tokens/dist/devdot/css/tokens.css';

/* Print Styles */
@import './print.css';

/* Expand content so footer is always at the bottom */
.__next > .page-content {
  min-height: calc(100vh - 188px);
}

/*
 * About this selector:
 * `.g-subnav ~ *` finds all elements after the navigation.
 * `:target` finds the active permalink on the page.
 *
 * About this style:
 * `scroll-margin-top` adjusts the vertical scroll of a permalink.
 * `64px` adjusts the scroll to account for the navigation.
 * `0.5em` further adjusts the scroll to give the permalink breathing room.
 *
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/:target
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top
 */
.g-subnav ~ * :target {
  scroll-margin-top: calc(64px + 0.5em);
}

/* Sticky Footer */
.page-content {
  min-height: calc(100vh - 188px);
}

/* Custom web font, deprecated */
@font-face {
  font-family: 'klavika-web';
  src: url('/fonts/klavika/medium.woff2') format('woff2'),
    url('/fonts/klavika/medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

p {
  color: var(--gray-2);
}

:root {
  --ce-color: purple;
  --font-body-hds: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.content_exclusion {
  color: var(--ce-color);
  display: flex;
  justify-content: center;
}

.content_exclusion.begin {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-left: 1px dashed var(--ce-color);
  border-right: 1px dashed var(--ce-color);
  border-top: 1px dashed var(--ce-color);

  margin-bottom: -20px;
}
.content_exclusion.end {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px dashed var(--ce-color);
  border-right: 1px dashed var(--ce-color);
  border-bottom: 1px dashed var(--ce-color);

  margin-top: -20px;
}
.content_exclusion.begin .content_exclusion_inner {
  transform: translateY(-50%);
}
.content_exclusion.end .content_exclusion_inner {
  transform: translateY(50%);
}

.content_exclusion_inner {
  border-radius: 100px;
  border: 1px dashed var(--ce-color);
  padding: 0 10px;
  font-size: 12px;
  background: white;
}
