.howCloudWorksHero {
  & h1 {
    max-width: 472px;
  }

  & :global(.description) {
    max-width: 540px;
  }

  & > div {
    @media (width >= 1120px) {
      padding-top: 160px;
    }
  }
}

.howCloudWorksContent {
  margin-top: -378px;
  padding-top: 128px;
  padding-bottom: 0;

  @media (width <= 767px) {
    margin-top: -200px;
  }

  & :global(.g-text-split) {
    background: none;
  }

  & a {
    color: var(--terraform);
  }
}
